<header class="header">
  <div class="header__inner">
    <div class="header__logo">
      <a href="{{ "" | relLangURL }}">
        <div class="logo">
          {{ with .Site.Params.logoText }}{{ . }}{{ else }}Terminal{{ end }}
        </div>
      </a>
    </div>
    {{ if and .Site.Menus.main }}
      <ul class="menu menu--mobile">
        <li class="menu__trigger">Menu&nbsp;▾</li>
        <li>
          <ul class="menu__dropdown">
            {{ range .Site.Menus.main }}
              <li><a href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </li>
      </ul>
    {{ end }}
  </div>

  {{ if and .Site.Menus.main }}
    <nav class="navigation-menu">
      <ul class="navigation-menu__inner menu--desktop">
        {{ if or .Site.Params.showMenuItems (eq .Site.Params.showMenuItems 0) }}
          {{ range first .Site.Params.showMenuItems .Site.Menus.main }}
            <li><a href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>
          {{ end }}
        {{ else }}
          {{ range .Site.Menus.main }}
            <li><a href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>
          {{ end }}
        {{ end }}
      </ul>
    </nav>
  {{ end }}
</header>